.container {
  color: white;
  background: linear-gradient(
    80deg,
    rgb(0, 0, 0)0%,
    rgb(0, 52, 68) 35%,
    rgb(0, 46, 105) 100%
  );
}
.container h1, .container h2{
  text-shadow: 0 2px 2px black;
}
